{% extends 'layouts/page.html' %}  
{% block content %}
<h1 class="title pt-5">Are you sure you want to Delete {{question.title}}?</h1>
<form action="" method="post">
    {% csrf_token %}
    <div class="buttons">
    <!-- confirm artist delete -->
    {% if user.is_authenticated %}
        <input class="button is-danger delete" type="submit" value="Confirm" />
        <!-- Redirect back to detail on cancel -->
        <a class="button is-primary cancel" href="{% url 'question' question.id %}">Cancel</a>
    {% endif %}

    </div>
</form>
{% endblock %}



