{%extends 'layouts/page.html'%}


{% block content%}
<a href="{% url 'delete' question.pk %}"class='delete-btn'> delete </a>
<div class ='page question-page'>
<h2 class='question-title'>{{question.title}}</h2>
<p class='question-body'>{{question.body}}</p>
<span class='question-author'>Author: {{question.author.username}}</span>

<div class='responses-container'>
    <h4 class='responses-container-heading'>Responses</h4>

    {% if not question.responses.all %}
    <p class='no-response-text'>No Responses Yet</p>
    {% else %}
        {% for response in question.get_responses %}

            {% include 'components/response.html' with response=response %}

        {% endfor %}

    {% endif %}

</div>

{% if user.is_authenticated %}

<form method='POST' action='' class='response-form'>
{% csrf_token %}
<div class='fieldWrapper'>
    <label for='{{response_form.body.id_for_label}}'>Your answer:</label>
    {{response_form.body}}
    <span class='error'>{{form.body.errors}}</span>
</div>
<input type='submit' value='send' class='submit-button'/>
</form>

{% endif %}




</div>
   
{% endblock %}