{%extends 'layouts/page.html'%}
<script src='js/quiz.js' defer ></script>
<script src='statc/css/quiz.css'></script>
{% block content%}
   <h1>FOOSEBALL QUIZ</h1>
   
   
  </div>
    <div class="container">
        <div id="question-container" class="hide">
            <div id="question">Are you smarter than a Football?</div>
            <div id="answer-buttons" class="btn-grid">
                {% comment %} <button class="btn">potato 1</button>
                <button class="btn">potato 2</button>
                <button class="btn">potato 3</button>
                <button class="btn">potato 4</button> {% endcomment %}
            </div>
        </div>
        <div class="controls">
            
            
            <button id="start-btn" class="start-btn btn">Start</button>
            <button id="next-btn" class="next-btn btn hide">Next</button>
            
            
            
        </div>
        
    </div>
{% endblock %}