{%extends 'layouts/page.html'%}
<script defer src='js/quiz.js' defer ></script>
{% block content%}
<h1>FOOSEBALL QUIZ</h1>
   {% comment %} <iframe src="https://i.imgur.com/4eSenqy.gif"/> {% endcomment %}
   
   

    <div class="container">
        
        <h2 >Results: <span id='results'></span></h2>
        <div id="question-container" class="hidden">
            <div id="question">Are you smarter than a Football?</div>
            <div id="answer-buttons" class="btn-grid">
                {% comment %} <button class="btn">potato 1</button>
                <button class="btn">potato 2</button>
                <button class="btn">potato 3</button>
                <button class="btn">potato 4</button> {% endcomment %}
            </div>
        </div>
        <div class="controls">
            
            
            <button id="start-btn" class="start-btn btn">Start</button>
            <button id="next-btn" class="next-btn btn hide">Next</button>
            
            
            
        </div>
        
    </div>

{% endblock %}