{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}?{% now "U" %}"/>
    <script defer src="{% static 'js/main.js' %}?{% now "U" %}"></script>
    <script defer src="{% static 'js/quiz.js' %}?{% now "U" %}"></script>
    <title></title>
  </head>
  <body>
    {% include 'header.html'%}
    {% include 'navbar.html' %}
    <div class="main">
    {% block content %}
    {% endblock %}
    </div>
  </body>
</html>